@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url("./bcg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
}

.top-controls {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
  background-color: #fffffe57;
}

#time {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

#msg {
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.durations {
  display: flex;
  flex-direction: column;
}

.controls {
  width: 100vw;
  background-color: #fffffe57;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

label {
  font-size: 20px;
  /* color: white; */
  font-weight: bold;
}

input {
  margin-left: 5px;
  border: none;
  padding: 6px 10px;
  font-size: 16px;
  width: 70px;
  border-radius: 10px;
  background-color: #ffffff40;
  color: white;
  font-weight: bold;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: #00c10f61;
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #00c10f;
  transition: all 0.2s;
}

.word {
  color: #00c10f;
}

.word-red {
  color: #930000;
}

.allSignals {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 30px 0;
}

.allSignals div {
  background-color: #000;
  width: 150px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.signal1,
.signal2,
.signal3,
.signal4 {
  box-shadow: #eeebeb59 0px 5px 15px;
}

.allSignals .timer1,
.allSignals .timer2,
.allSignals .timer3,
.allSignals .timer4 {
  font-family: "Orbitron", sans-serif;
  color: red;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  box-shadow: 0px 0px 10px 2px rgb(212, 212, 212);
  border-radius: 10px;
}

.allSignals .redLight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3a0000;
}
.allSignals .yellowLight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #363600;
}
.allSignals .greenLight {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #002d00;
}

.allSignals .title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}

.green {
  background: #0e990e !important;
  box-shadow: 15px 14px 150px 20px #12b612cc;
}

.red {
  background-color: red !important;
  box-shadow: 15px 14px 50px 5px #c20903cc;
  animation: Blink 1s linear infinite;
}

.yellow {
  background-color: #cccc13 !important;
  box-shadow: 15px 14px 90px 5px #958600cc;
  animation: Blink 2s linear infinite;
}

@keyframes Blink {
  50% {
    opacity: 0.5;
  }
}
